.container {
  width: 40%;
  margin: auto;
  background-color: #fff;
}
form {
  flex-direction: column;
  justify-content: center;
}
.signup {
  background-image: url("../../../Assets/Images/header-cover.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}
.signup-form {
  background-color: #fff;
}
h3 {
  color: #606060;
}
.btn
{
    background-color: chocolate;
    z-index: 100;
}
