*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  overflow: auto;
}
ul {
  list-style: none;
}
p{
  font-size: 1.04em !important;
  color: #606060;
  line-height: 1.86em !important;
  font-weight: 400 !important;
 } 


.header-container{
    height: 80vh;
    background-attachment: fixed;
    background-image: linear-gradient(90deg, rgba(21, 66, 163, 0.1)0%, rgba(37, 78, 155, 0.4) 0%),url(../../../Assets/Images/signin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--back-ground);

}

  .header-image{
    /* box-shadow: 10px 40px 50px rgb(229 233 246 / 100%); */
    position: relative;
  }
  .header-container{
      align-items: center;
  }
  .bg-gradient {
    top: -10%;
    transform: rotate(
    180deg);
    position: absolute;
    width: 120%;
    right: -120%;
  }
  @keyframes breathe{0%{transform:scale(1)}to{transform:scale(.7)}}
  .breathe {
    animation: breathe 5s ease-in-out infinite alternate;
}
.bg-gradient-wrap {
    opacity: .4;
    overflow: hidden;
    z-index: 0;

}
.bg-gradient {
  background-color: var( --back-ground )  !important;
}
/* .header-container{
  background-color: var( --back-ground )  !important;
} */
