.makeStyles-media-2{
    height: 300px !important;  
    background-position: auto !important;
    background-size:  300px 200px !important;
}
.gutterBottom {
    justify-content: space-between;
}
.Price{
    display: flex;
}
.btn{
    width: 20% !important;
    background-color: var(--btn-color )  !important;
    border-radius: 25px !important;
}