.makeStyles-media-2{
    height: 300px !important;  
    background-position: auto !important;
    background-size:  300px 200px !important;
}
.gutterBottom {
    justify-content: space-between;
}
.Price{
    display: flex;
}

.gen_btn
{
    border-radius: 24px 24px !important;
    width: 150px !important;
    text-transform: capitalize;
    font-size: 15px !important;
    padding: 5px 3px ;
    font-weight: 400;
}
span{
    margin-left: 0 !important;
}
