
:root {
    --NavbarColor: #D4D7FF;
    --Navbarlinks : #2F4179 ;
    --black: #000;
  }

  .webNavbar{
   background-image: linear-gradient(to right, rgba(136, 171, 204, 0.2), rgba(92, 159, 210,0.2));
}
.NavbarLinks{
    color: var(--Navbarlinks) !important;
}