
:root {
    --NavbarColor: #01020e;
    --Navbarlinks : #2F4179 ;
    --black: #000;
    --back-ground:#F4F4F4;
  }

  .webNavbar{
    /* background-image: linear-gradient(to right, rgba(136, 171, 204, 0.8), rgba(92, 159, 210,0.8));  */
   background-color: #0785F3;
}
.NavbarLinks{
    color: rgb(245, 245, 245) !important;
}
.sign-up{
    color: var(--Navbarlinks) !important;
}
.sign-in{
    color: var(--Navbarlinks) !important;
}