.card-counter {
  background-color: #fff;
  box-shadow: 2px 2px 10px #dadada;
  border-radius: 5px;
  padding :12% 0;
  transition: 0.3s linear all;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

@media screen and(max-width: 768px){
  .card-counter span{
    color: red;
  }
  .card-Container {
    margin-bottom: 500px;
  }
}